*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

.container{
    margin: 2rem;
    display: grid;
    justify-content: center;
}

h3{
    padding: 1rem 0;
}

p span{
    font-size: larger;
    font-weight: bolder;
}
